*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
html{
    scroll-behavior: smooth;
}
#map {
    width: 500px;
    height: 500px;
}
.upload-file{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    gap: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label ion-icon{
    font-size: 150px;
}
ol li{
    position: relative;
    list-style: none;
}
ol li:after{
    content: '-';
    position: absolute;
    right: 10px;
    top: 12px;
}
ol li:nth-child(1):before{
    content: '';
    display: inline-block;
    height: 28px;
    width: 28px;
    background-image: url('/src/templatesates/default/icon-type1.png');
    background-size: contain;
}
ol li:nth-child(2):before{
    content: '';
    display: inline-block;
    height: 28px;
    width: 28px;
    background-image: url('/src/templatesates/default/icon-type2.png');
    background-size: contain;
}
ol li:nth-child(3):before{
    content: '';
    display: inline-block;
    height: 28px;
    width: 28px;
    background-image: url('/src/templatesates/default/icon-type3.png');
    background-size: contain;
}
ol li:nth-child(4):before{
    content: '';
    display: inline-block;
    height: 28px;
    width: 28px;
    background-image: url('/src/templatesates/default/icon-type4.png');
    background-size: contain;
}


body {
    background: #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.btn {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
}

.btn::before, .btn::after {
    position: absolute;
    background: #eee;
    z-index: -1;
    transition: 1s;
    content: '';
}

.btn::before {
    height: 201px;
    width: 201px;
}

.btn::after {
    height: 201px;
    width: 201px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn:hover::before {
    width: 0px;
    background: #fff;
}

.btn:hover::after {
    height: 0px;
    background: #fff;
}

.btn:hover {
    background: #fff;
}
header{
    background: #3d3a3a;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    width: 100%;
    padding: 15px;
}
.header-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-bg{
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border: 5px solid red;
    padding: 20px;
    border-radius: 100%;
    transition: .5s;
    cursor: pointer;
}
nav{
    width: 40%;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}
nav ul li a, nav ul li label{
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    transition: .5s;
}
nav ul li a:before, nav ul li label:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    background: white;
    height: 0.1em;
    transition: .5s;

}
nav ul li a:hover:before, nav ul li label:hover:before{
    width: 100%;
}
.logo-bg{
    margin-left: 50px;
}
.logo-bg span:first-child{
    position: relative;
}
.logo-bg span{
    text-transform: uppercase;
}
.logo-bg span:first-child:before{
    content: '';
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #000;
    border-radius: 10px;
    height: 0.5em;
}
.logo-bg span:last-of-type{
    padding-top: 5px;
}
.logo-bg:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}
.filters{
    padding: 15px;
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
.filter{
    width: 20%;
}
#map{
    border: 10px solid transparent;
    border-radius: 40px;
    outline: 10px solid #8d8d8d;
}
.filter label{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}