php_flag magic_quotes_gpc Off

php_value upload_max_filesize 500M

AddDefaultCharset utf-8

DirectoryIndex index.php
DirectorySlash Off





#Redirect 301 /studio /index.php
#Redirect 301 /profile /index.php






RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) index.php






#<FilesMatch "\.php$|\.txt$">
#    Order Allow,Deny
#    Deny from all
#</FilesMatch>
#<FilesMatch "index[0-9]?\.php$">
#    Order Allow,Deny
#    Allow from all
#</FilesMatch>
