*, *:after, *:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 600;
}
*:focus{
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    /*background: #F6F6F6;*/
}
a{
    text-decoration: none;
    color: black;
}
button, label, a{
    cursor: pointer;
}
input[type=file]{
    display: none;
}
em{
    font-style: unset;
    color: #588f04;
}
.label{
    display: flex;
    padding: 5px 10px;
    background: #eee;
    color: #c3c3c3;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}
.upload-section{
    width: 30%;
}
.section{
    /*padding: 0 100px;*/
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 10px;
}
.video, .stream{
    color: black;
    padding: 3px 16px;
    border-radius: 10px;
    border: 1px solid green;
}
.sections{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.submitStreamBtn{
    background-color: #588f04;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.cam-section{
    position: relative;
    padding-right: 15%;
}
.cam-section:after{
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    margin-left: 4px;
    content: '';
    height: 300px;
    border-radius: 10px;
    background: #ddd;
}
.section-title{
    margin-bottom: 1%;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
li{
    padding: 5px 10px;
}
li a{
    padding: 5px 10px;
    /*border: 2px solid #ddd;*/
    border-radius: 5px;
    cursor: pointer;
    background: white;
}
#videos, #cams{
    display: flex;
    gap: 20px;
}
.findCam{
    padding: 9px 14px;
    border: 1px solid #ddd;
}
a{
    color: green;
    text-decoration: none;
}
video, img, picture{
    vertical-align: center;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.header-line{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    /*background: black;*/
}
li{
    color: white;
}

/*//////////////////////////////////////*/

.video-inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.thatOneForm{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px rgba(0,0,0, 20%);
}
.toVidList a{
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 5%);
    transition: .5s;
}
.toVidList a:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0, 10%);
}
.upload-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
    margin-top: 5%;
}
.progressBars{
    display: flex;
}
.progressBar{
    width: 500px;
    position: relative;
    height: 0.15em;
    background: #ddd;
    margin-right: 13px;
}
.progressBar ion-icon{
    position: absolute;
    color: #ddd;
    right: -14px;
    top: -7px;

}
.itemBar{
    position: absolute;
    width: 0%;
    height: 100%;
    background: #52C78F;
}
.label-bar{
    margin-top: 7px;
    text-align: center;
    color: black;
}
#process-label2 {
    position: absolute;
    top: -20px;
    left: 50%;
}
#load-label2 {
    position: absolute;
    top: -30px;
    left: 35%;
    color: #52C78F;
}
.team-logo span{
    font-size: 28px;
    color: #1d3967;
    font-weight: 600;
}
.team-logo span em{
    font-style: unset;
    color: #FF645F;
}
.header-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.video-frame{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://pic.rutube.ru/playerstub/b2/3c/b23c27cb55932258b34ea88d4587964c.png");
    background-size: cover;
    width: 100%;
    max-width: 400px;
    height: 250px;
    border-radius: 15px;
}
.frame-animation{
    position: absolute;
    top: 50%;
    left: 50%;
}
.frame-animation ion-icon{
    font-size: 36px;
    color: white;
    animation: rotating .5s infinite ease-out;
}
.video-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    gap: 30px;
    margin-bottom: 20px;
}
.inpFile{
    padding: 10px;
    background: #588f04;
    border-radius: 8px;
    color: white;
    margin-right: 15px;
}
#upload_video_btn{
    background: #588f04;;
    border: 5px solid white;
    outline: 3px solid #588f04;;
    font-size: 20px;
    padding: 6px;
    border-radius: 10px;
    transition: .5s;
    color: white;
}
#upload_video_btn:hover, #upload_video_btn:focus{
    box-shadow: 0px 0px 10px rgba(0,0,0,20%);
}
.info-inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 700px;
}
.video-desc{
    resize: vertical;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.info-inputs input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.videos-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0,0,0,10%);
    margin-top: 20px;
    border-radius: 15px;
    width: 100%;
}
.vid-name{
    margin-top: 20px;
    padding: 5px;
    width: 10%;
    text-align: center;
    border: 1px dashed;
    display: none;
}

@keyframes rotating {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media (max-width: 800px){
    .container{
        margin: 0 50px;
    }
    .progressBars{
        flex-wrap: wrap;
        gap: 30px;
    }
    .progressBar{
        max-width: 400px;
    }
}
@media (max-width: 500px) {
    .container{
        margin: 0 20px;
    }
    .progressBar{
        max-width: 300px;
    }
    .header-line{
        flex-wrap: wrap;
    }
}
@media (max-width: 350px) {
    .container{
        margin: 0 10px;
    }
    .progressBar{
        max-width: 200px;
    }
}